//! **************************************************************************
// Written by: Map P.28xd on Mon Apr 23 10:43:55 2018
//! **************************************************************************

SCHEMATIC START;
COMP "a_to_g<0>" LOCATE = SITE "M12" LEVEL 1;
COMP "a_to_g<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "a_to_g<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "a_to_g<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "a_to_g<4>" LOCATE = SITE "N14" LEVEL 1;
COMP "a_to_g<5>" LOCATE = SITE "H12" LEVEL 1;
COMP "a_to_g<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "park" LOCATE = SITE "G3" LEVEL 1;
COMP "showaltogether" LOCATE = SITE "P11" LEVEL 1;
COMP "enable<0>" LOCATE = SITE "K14" LEVEL 1;
COMP "enable<1>" LOCATE = SITE "M13" LEVEL 1;
COMP "enable<2>" LOCATE = SITE "J12" LEVEL 1;
COMP "enable<3>" LOCATE = SITE "F12" LEVEL 1;
COMP "restartall" LOCATE = SITE "B4" LEVEL 1;
COMP "point" LOCATE = SITE "N13" LEVEL 1;
COMP "restart" LOCATE = SITE "K3" LEVEL 1;
COMP "showdistance" LOCATE = SITE "L3" LEVEL 1;
COMP "endcar" LOCATE = SITE "F3" LEVEL 1;
COMP "light<0>" LOCATE = SITE "N3" LEVEL 1;
COMP "light<1>" LOCATE = SITE "E2" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

